Repository quentinpigne/angular-sandbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

add action to deploy storybook to github pages
  .github/workflows/deploy-storybook.yml
  .storybook/preview-head.html
  package.json
  pnpm-lock.yaml
Due: prettier --write

updating storybook
  .storybook/main.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

updating project dependencies including Angular 13
  .gitignore
  README.md
  documentation.json
  package.json
  pnpm-lock.yaml
  projects/ui-lib/README.md
  projects/ui-lib/package.json
  projects/ui-lib/tsconfig.lib.json
Due: prettier --write

changing storybook deploy workflow triggering to manual
  .github/workflows/deploy-storybook.yml
Due: none

removing use of component factory resolver and fixing issue
  documentation.json
  projects/ui-lib/src/core/popup/popup.service.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: prettier --write, eslint --fix --max-warnings 0

tooltip content is a component attribute instead of projected
  documentation.json
  projects/ui-lib/src/core/popup/popup.service.ts
  projects/ui-lib/src/tooltip/tooltip.component.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: prettier --write, eslint --fix --max-warnings 0

gitignore generated documentation.json
  .gitignore
  documentation.json
Due: prettier --write

add ability to attach popup to any container
  projects/ui-lib/src/core/popup/popup.service.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: eslint --fix --max-warnings 0

add overlay container service
  projects/ui-lib/src/core/overlay/overlay-container.service.spec.ts
  projects/ui-lib/src/core/overlay/overlay-container.service.ts
Due: eslint --fix --max-warnings 0

fixing uiBadge position enum
  projects/ui-lib/src/badge/embedded/badge.directive.ts
Due: eslint --fix --max-warnings 0

simple tooltip positioning mecanism
  projects/ui-lib/src/core/positioning/positioning.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: eslint --fix --max-warnings 0

adding possibility to position tooltip on top, bottom, left or right
  projects/ui-lib/src/core/positioning/positioning.ts
  projects/ui-lib/src/tooltip/tooltip.stories.ts
Due: eslint --fix --max-warnings 0

beginning style of tooltip component
  projects/ui-lib/src/tooltip/tooltip.component.scss
  projects/ui-lib/src/tooltip/tooltip.component.ts
Due: prettier --write, eslint --fix --max-warnings 0

renaming popupService to overlayService
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/core/popup/popup.service.spec.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: eslint --fix --max-warnings 0

splitting overlay into service and ref
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.spec.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: eslint --fix --max-warnings 0

using overlayContainerService to put overlay into specific container
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
Due: eslint --fix --max-warnings 0

putting unique component id generation into separate file
  projects/ui-lib/src/checkbox/checkbox.component.ts
  projects/ui-lib/src/core/utils/unique-component-id.ts
  projects/ui-lib/src/radio/radio-button.component.ts
  projects/ui-lib/src/radio/radio-group.directive.ts
Due: eslint --fix --max-warnings 0

fixing scoped style issue with theme decorator
  .storybook/preview-themes.js
Due: prettier --write

adding barrel files in every module
  projects/ui-lib/src/badge/index.ts
  projects/ui-lib/src/button/index.ts
  projects/ui-lib/src/checkbox/index.ts
  projects/ui-lib/src/form-field/index.ts
  projects/ui-lib/src/icon/index.ts
  projects/ui-lib/src/input/index.ts
  projects/ui-lib/src/progress-spinner/index.ts
  projects/ui-lib/src/public-api.ts
  projects/ui-lib/src/radio/index.ts
  projects/ui-lib/src/select/index.ts
  projects/ui-lib/src/toolbar/index.ts
  projects/ui-lib/src/tooltip/index.ts
Due: eslint --fix --max-warnings 0

adding basic progress spinner component
  projects/ui-lib/src/core/theming/_all-themes.scss
  projects/ui-lib/src/progress-spinner/_progress-spinner-theme.scss
  projects/ui-lib/src/progress-spinner/progress-spinner.component.html
  projects/ui-lib/src/progress-spinner/progress-spinner.component.scss
  projects/ui-lib/src/progress-spinner/progress-spinner.component.spec.ts
  projects/ui-lib/src/progress-spinner/progress-spinner.component.ts
  projects/ui-lib/src/progress-spinner/progress-spinner.module.ts
  projects/ui-lib/src/progress-spinner/progress-spinner.stories.ts
  projects/ui-lib/src/public-api.ts
Due: prettier --write, eslint --fix --max-warnings 0

fixing icon style
  assets/ui-icons/style.css
  projects/ui-lib/src/icon/_icon-theme.scss
  projects/ui-lib/src/icon/icon.component.ts
  projects/ui-lib/src/icon/icon.stories.ts
  projects/ui-lib/src/toolbar/toolbar.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding base structure for progress bar
  projects/ui-lib/src/core/theming/_all-themes.scss
  projects/ui-lib/src/progress-bar/_progress-bar-theme.scss
  projects/ui-lib/src/progress-bar/index.ts
  projects/ui-lib/src/progress-bar/progress-bar.component.html
  projects/ui-lib/src/progress-bar/progress-bar.component.scss
  projects/ui-lib/src/progress-bar/progress-bar.component.spec.ts
  projects/ui-lib/src/progress-bar/progress-bar.component.ts
  projects/ui-lib/src/progress-bar/progress-bar.module.ts
  projects/ui-lib/src/progress-bar/progress-bar.stories.ts
  projects/ui-lib/src/public-api.ts
Due: prettier --write, eslint --fix --max-warnings 0

handling determinate mode for progress bar
  projects/ui-lib/src/progress-bar/_progress-bar-theme.scss
  projects/ui-lib/src/progress-bar/progress-bar.component.html
  projects/ui-lib/src/progress-bar/progress-bar.component.scss
  projects/ui-lib/src/progress-bar/progress-bar.component.ts
  projects/ui-lib/src/progress-bar/progress-bar.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

handling indeterminate mode for progress bar
  projects/ui-lib/src/progress-bar/_progress-bar-theme.scss
  projects/ui-lib/src/progress-bar/progress-bar.component.html
  projects/ui-lib/src/progress-bar/progress-bar.component.scss
  projects/ui-lib/src/progress-bar/progress-bar.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

updating project dependencies and fix for storybook
  package.json
  pnpm-lock.yaml
  projects/ui-lib/tsconfig.lib.json
  tsconfig.json
Due: prettier --write

creating base structure for card element
  projects/ui-lib/src/card/_card-theme.scss
  projects/ui-lib/src/card/card.component.scss
  projects/ui-lib/src/card/card.component.spec.ts
  projects/ui-lib/src/card/card.component.ts
  projects/ui-lib/src/card/card.module.ts
  projects/ui-lib/src/card/card.stories.ts
  projects/ui-lib/src/card/index.ts
  projects/ui-lib/src/core/theming/_all-themes.scss
  projects/ui-lib/src/public-api.ts
Due: prettier --write, eslint --fix --max-warnings 0

adding card common components
  projects/ui-lib/src/card/_card-theme.scss
  projects/ui-lib/src/card/card-content/card-content.directive.spec.ts
  projects/ui-lib/src/card/card-content/card-content.directive.ts
  projects/ui-lib/src/card/card-footer/card-footer.directive.spec.ts
  projects/ui-lib/src/card/card-footer/card-footer.directive.ts
  projects/ui-lib/src/card/card-subtitle/card-subtitle.directive.spec.ts
  projects/ui-lib/src/card/card-subtitle/card-subtitle.directive.ts
  projects/ui-lib/src/card/card-title/card-title.directive.spec.ts
  projects/ui-lib/src/card/card-title/card-title.directive.ts
  projects/ui-lib/src/card/card.component.scss
  projects/ui-lib/src/card/card.module.ts
  projects/ui-lib/src/card/card.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

creating base structure for list element
  projects/ui-lib/src/core/theming/_all-themes.scss
  projects/ui-lib/src/list/_list-theme.scss
  projects/ui-lib/src/list/index.ts
  projects/ui-lib/src/list/list.component.scss
  projects/ui-lib/src/list/list.component.spec.ts
  projects/ui-lib/src/list/list.component.ts
  projects/ui-lib/src/list/list.module.ts
  projects/ui-lib/src/list/list.stories.ts
  projects/ui-lib/src/public-api.ts
Due: prettier --write, eslint --fix --max-warnings 0

removing useless tsconfig.stories.json
  projects/ui-lib/.eslintrc.json
  projects/ui-lib/tsconfig.stories.json
Due: prettier --write

improving button style
  projects/ui-lib/src/button/button.component.scss
Due: prettier --write

fixing eslint parserOptions config
  projects/ui-lib/.eslintrc.json
Due: prettier --write

creating base structure for tabs element
  projects/ui-lib/src/core/theming/_all-themes.scss
  projects/ui-lib/src/public-api.ts
  projects/ui-lib/src/tabs/_tabs-theme.scss
  projects/ui-lib/src/tabs/index.ts
  projects/ui-lib/src/tabs/tab-group.component.html
  projects/ui-lib/src/tabs/tab-group.component.scss
  projects/ui-lib/src/tabs/tab-group.component.spec.ts
  projects/ui-lib/src/tabs/tab-group.component.ts
  projects/ui-lib/src/tabs/tabs.module.ts
  projects/ui-lib/src/tabs/tabs.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

creating tab component and using it in tab group component
  projects/ui-lib/src/tabs/index.ts
  projects/ui-lib/src/tabs/tab-group.component.html
  projects/ui-lib/src/tabs/tab-group.component.ts
  projects/ui-lib/src/tabs/tab.component.spec.ts
  projects/ui-lib/src/tabs/tab.component.ts
  projects/ui-lib/src/tabs/tabs.module.ts
  projects/ui-lib/src/tabs/tabs.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

add ability to select tab programmatically
  projects/ui-lib/src/tabs/tab-group.component.html
  projects/ui-lib/src/tabs/tab-group.component.ts
  projects/ui-lib/src/tabs/tabs.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

little styling for tabs
  projects/ui-lib/src/tabs/_tabs-theme.scss
  projects/ui-lib/src/tabs/tab-group.component.html
  projects/ui-lib/src/tabs/tab-group.component.scss
Due: prettier --write

beginning of portal outlet implementation
  projects/ui-lib/src/core/portal/portal-outlet.ts
  projects/ui-lib/src/tabs/tab-group.component.ts
Due: eslint --fix --max-warnings 0

creating portal outlet directive and using it for tabs component
  projects/ui-lib/src/core/portal/portal-directive.ts
  projects/ui-lib/src/core/portal/portal-outlet.ts
  projects/ui-lib/src/core/portal/portal.module.ts
  projects/ui-lib/src/tabs/tab-group.component.html
  projects/ui-lib/src/tabs/tab-group.component.ts
  projects/ui-lib/src/tabs/tabs.module.ts
  projects/ui-lib/src/tabs/tabs.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

creating base structure for modal components
  projects/ui-lib/src/core/theming/_all-themes.scss
  projects/ui-lib/src/modal/_modal-theme.scss
  projects/ui-lib/src/modal/index.ts
  projects/ui-lib/src/modal/modal.module.ts
  projects/ui-lib/src/modal/modal.stories.ts
  projects/ui-lib/src/public-api.ts
Due: prettier --write, eslint --fix --max-warnings 0

first implementation of modal service
  projects/ui-lib/src/modal/index.ts
  projects/ui-lib/src/modal/modal.service.spec.ts
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/modal/modal.stories.ts
Due: eslint --fix --max-warnings 0

creating dom portal outlet to attach a component to an arbitrary dom element
  projects/ui-lib/src/core/portal/dom-portal-outlet.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: eslint --fix --max-warnings 0

Path conditions:
  prettier --write: any of: *.{js,html,scss,json}
  eslint --fix --max-warnings 0: any of: *.ts
