Repository quentinpigne/angular-sandbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0

.lintstagedrc:

{
  "*.{js,html,scss,json}": "prettier --write",
  "*.ts": ["eslint --fix --max-warnings 0"]
}

refactoring portal outlet abstraction and implementation
  projects/ui-lib/src/core/portal/dom-portal-outlet.ts
  projects/ui-lib/src/core/portal/portal-directive.ts
  projects/ui-lib/src/core/portal/portal-outlet.ts
Due: eslint --fix --max-warnings 0

changing overlay to use dom portal outlet and using it in modal
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: eslint --fix --max-warnings 0

creating ModalContainerComponent to put modal component into
  projects/ui-lib/src/core/portal/portal-directive.ts
  projects/ui-lib/src/modal/modal-container.component.scss
  projects/ui-lib/src/modal/modal-container.component.spec.ts
  projects/ui-lib/src/modal/modal-container.component.ts
  projects/ui-lib/src/modal/modal.module.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: prettier --write, eslint --fix --max-warnings 0

Storybook elements reorganization
  .storybook/preview-themes.js
  .storybook/preview.js
  projects/ui-lib/src/badge/badge.stories.ts
  projects/ui-lib/src/button/button.stories.ts
  projects/ui-lib/src/card/card.stories.ts
  projects/ui-lib/src/checkbox/checkbox.stories.ts
  projects/ui-lib/src/form-field/form-field.stories.mdx
  projects/ui-lib/src/icon/icon.stories.ts
  projects/ui-lib/src/input/input.stories.ts
  projects/ui-lib/src/list/list.stories.ts
  projects/ui-lib/src/modal/modal.stories.ts
  projects/ui-lib/src/progress-bar/progress-bar.stories.ts
  projects/ui-lib/src/progress-spinner/progress-spinner.stories.ts
  projects/ui-lib/src/radio/radio.stories.ts
  projects/ui-lib/src/select/select.stories.ts
  projects/ui-lib/src/tabs/tabs.stories.ts
  projects/ui-lib/src/toolbar/toolbar.stories.ts
  projects/ui-lib/src/tooltip/tooltip.stories.ts
  projects/ui-lib/stories/Changelog.stories.mdx
  projects/ui-lib/stories/Contributing.stories.mdx
Due: prettier --write, eslint --fix --max-warnings 0

fixing DomPortalOutlet attachTemplate method
  projects/ui-lib/src/core/portal/dom-portal-outlet.ts
Due: eslint --fix --max-warnings 0

overlay backdrop start implementation
  projects/ui-lib/src/core/_core-theme.scss
  projects/ui-lib/src/core/overlay/_index.scss
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/modal/modal-container.component.scss
  projects/ui-lib/src/modal/modal.stories.ts
Due: prettier --write, eslint --fix --max-warnings 0

creating OverlayConfig class with hasBackdrop parameter
  projects/ui-lib/src/core/overlay/overlay-config.ts
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: eslint --fix --max-warnings 0

add ability to customize modal size
  projects/ui-lib/src/core/overlay/overlay-config.ts
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/modal/modal-config.ts
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/modal/modal.stories.ts
Due: eslint --fix --max-warnings 0

overlay global positioning first shot
  projects/ui-lib/src/core/overlay/overlay-config.ts
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/core/overlay/position/global-position-strategy.ts
  projects/ui-lib/src/core/overlay/position/position-strategy.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: eslint --fix --max-warnings 0

adding intermediate host element for flex positioning
  projects/ui-lib/src/core/overlay/_index.scss
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/overlay.service.ts
  projects/ui-lib/src/core/overlay/position/global-position-strategy.ts
  projects/ui-lib/src/modal/modal-container.component.scss
Due: prettier --write, eslint --fix --max-warnings 0

creating ModalRef and refactoring ModalService
  projects/ui-lib/src/modal/modal-ref.ts
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/modal/modal.stories.ts
Due: eslint --fix --max-warnings 0

refactoring GlobalPositionStrategy centering system
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/position/global-position-strategy.ts
  projects/ui-lib/src/modal/modal-ref.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: eslint --fix --max-warnings 0

handling backdrop click with event subject
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/modal/modal-ref.ts
Due: eslint --fix --max-warnings 0

fixing some issues with overlay detaching
  projects/ui-lib/src/core/overlay/overlay-container.service.ts
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/modal/modal-container.component.scss
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: prettier --write, eslint --fix --max-warnings 0

handling overlay top bottom left right global positionning
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/overlay/position/global-position-strategy.ts
Due: eslint --fix --max-warnings 0

adding afterClosed observable to return modal data to component
  projects/ui-lib/src/modal/modal-ref.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: eslint --fix --max-warnings 0

adding ability to provide a custom injector when attaching a component to a portal
  projects/ui-lib/src/core/portal/dom-portal-outlet.ts
  projects/ui-lib/src/core/portal/portal-directive.ts
  projects/ui-lib/src/core/portal/portal-outlet.ts
Due: eslint --fix --max-warnings 0

improving passing result data from modal to initiator component
  projects/ui-lib/src/modal/modal-container.component.ts
  projects/ui-lib/src/modal/modal-ref.ts
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/modal/modal.stories.ts
Due: eslint --fix --max-warnings 0

listening to keyboard events in overlays and use ESCAPE to close modal
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/modal/modal-ref.ts
Due: eslint --fix --max-warnings 0

writing some coercions methods
  projects/ui-lib/src/core/coercion/boolean-value.spec.ts
  projects/ui-lib/src/core/coercion/boolean-value.ts
  projects/ui-lib/src/core/coercion/css-pixel-value.spec.ts
  projects/ui-lib/src/core/coercion/css-pixel-value.ts
  projects/ui-lib/src/core/overlay/overlay-config.ts
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/modal/modal-config.ts
  projects/ui-lib/src/modal/modal.service.ts
Due: eslint --fix --max-warnings 0

fixing unit tests compilation
  projects/ui-lib/karma.conf.js
  projects/ui-lib/src/badge/embedded/badge.directive.spec.ts
  projects/ui-lib/src/tooltip/tooltip.directive.spec.ts
Due: prettier --write, eslint --fix --max-warnings 0

updating dependencies
  README.md
  package.json
  pnpm-lock.yaml
  projects/ui-lib/package.json
Due: prettier --write

adding Portal abstraction for instantiating ComponentType or TemplateRef
  projects/ui-lib/src/core/overlay/overlay-ref.ts
  projects/ui-lib/src/core/portal/dom-portal-outlet.ts
  projects/ui-lib/src/core/portal/portal-directive.ts
  projects/ui-lib/src/core/portal/portal-outlet.ts
  projects/ui-lib/src/core/portal/portal.ts
  projects/ui-lib/src/modal/modal-container.component.ts
  projects/ui-lib/src/modal/modal.service.ts
  projects/ui-lib/src/tabs/tab-group.component.html
  projects/ui-lib/src/tabs/tab.component.ts
  projects/ui-lib/src/tooltip/tooltip.directive.ts
Due: prettier --write, eslint --fix --max-warnings 0

updating dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write
